.btn-custom {
  background-color: #616B2E;
  border-color: #616B2E;
  color: #FFF;
}

.btn-custom:hover {
  background-color: #617C2E;
  border-color: #617C2E;
  color: #FFF;
}

input {
  accent-color: #617C2E !important;
}

.bg-custom {
  background-color: #616B2E;
}

.bg-custom2 {
  background-color: #B38B67;
}

#sidebar-menu > ul > li > a.active,
.nav-second-level li > a.active, 
.nav-thrid-level li > a.active,
.metismenu li a[aria-expanded="true"] {
  color: #617C2E !important;
}

#sidebar-menu > ul > li > a.active {
  color: #616B2E !important;
  background-color: #f1f5f7;
  border-right-color: #616B2E !important;
}

.required::after {
  color: #FF0000;
  content: '*';
}

.navbar-custom {
  background-color: #222 !important;
}

.richText .richText-editor:focus{
  border-left-color: #617C2E !important;
}

.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #616B2E;
    border-color: #616B2E;
}