.bg-custom, .tg-bglight, .tg-footerbar {
    background-color: #616B2E !important;
}
  
.bg-custom2 {
    background-color: #B38B67;
}

.tg-middlecontainer {
    padding: 5px 0 !important;
}

.tg-btn:hover, .tg-btn.tg-active, .tg-navigationarea, .owl-prev:hover, 
.owl-next:hover, .tg-testimonial figure::before, 
.tg-headervtwo .tg-formsearch fieldset button, 
.tg-homeslidervtwo .tg-slidercontent .tg-btns .tg-btn:hover, 
.tg-homeslidervtwo .tg-slidercontent .tg-btns .tg-btn.tg-active, 
.tg-breadcrumb, #seconds, .tg-quantityholder .minus:hover, 
.tg-quantityholder .plus:hover, .tg-themetabs li a::before, 
.tg-tag:hover, .tg-btnreply:hover {
    background: #616B2E !important;
}

textarea:focus, .tg-btn:hover, .tg-btn.tg-active, input:focus, 
.select select:focus, .form-control:focus, .tg-themedropdownmenu, 
.owl-prev:hover, .owl-next:hover, .tg-pickedbyauthor .tg-postbook:hover, 
.tg-testimonial figure img, .tg-footer, .tg-quantityholder .minus:hover, 
.tg-quantityholder .plus:hover, .tg-tag:hover, .tg-comments li .tg-authorbox:hover, 
.tg-comments li .tg-authorbox:hover .tg-bottomarrow, .tg-btnreply:hover {
    border-color: #616B2E !important;
}

.tg-widget ul li a:hover {
    color: #617C2E !important;
}

.tg-paymenttype {
    color: #FFF !important;
}

.tg-paymenttype a {
    color: #FFF !important;
    text-decoration: underline;
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.tg-currencydropdown .tg-themedropdownmenu li a span::before {
    content:none;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3, .tg-innerbannercontent h1 {
    margin-bottom: 30px !important;
}

.p-4 {
    padding: 20px;
}

textarea, select, .tg-select select, .form-control, input[type="text"], 
input[type="password"], input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input {
    text-transform: none !important;
}

.tg-header {
    z-index: 7 !important;
}

.panel-link {
    color: #000;
}

.panel-link.text-white {
    color: #FFF;
}

.panel-link div.panel-top {
    float: left;
    width: 100%;
    padding-top: 15px;
}

.panel-icon{
    float: left;
    font-size: 2.9em;
}

.panel-text {
    float: right;
    font-size: 14px;
}

.panel-digit {
    float: left;
    width: 100%;
    text-align: right;
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 15px;
}

.tg-calltoaction h2, .tg-calltoaction h3 {
    color: #FFF;
}

table > thead > tr > th, table > tbody > tr > th, 
table > tfoot > tr > th, table > thead > tr > td, 
table > tbody > tr > td, table > tfoot > tr > td {
    border: 0 !important;
}

.forum_post {
    padding: 10px 10px;
    background: rgba(97, 124, 46, 0.1);
    color: #000;
    margin: 8px 0;
}

textarea.form-control {
    height: 120px !important;
}

a {
    color: #666 !important;
}

.tg-navigation > ul > li > a, .tg-breadcrumb li a,
.tg-btnaddtowishlist {
    color: #FFF !important;
}

.tg-searchbox .tg-navigationholder {
    padding: 1px 0;
}

.tg-searchbox .tg-navigationholder nav #tg-navigation ul li a {
    color: #616B2E !important;
    font-size: 1.0em;
}

.tg-searchbox .tg-navigationholder div.tg-wishlistandcart div {
    padding: 15px 10px !important;
}

.tg-searchbox .tg-navigationholder div.tg-wishlistandcart div a i {
    color: #616B2E !important;
}

.tg-searchbox .tg-navigationholder div.tg-wishlistandcart div a span {
    display: block !important;
}

.tg-searchbox .tg-navigationholder div.tg-wishlistandcart div a span::before {
    color: #616B2E;
}

.tg-btn.tg-btnstyletwo {
    color: #666 !important;
}

.tg-btn:hover, .tg-btn.tg-active, .tg-btn.tg-btnstyletwo:hover,
.tg-homeslidervtwo .tg-slidercontent .tg-btns .tg-btn,
.tg-testimonial blockquote, .tg-btnround {
    color: #FFF !important;
}

.owl-nav .tg-btnround i {
    color: #000 !important;
}

a:hover, .tg-newsletter h4, .tg-404errorcontent span, 
.tg-widget ul li:hover a, .tg-widget ul li a:hover, .tg-widget ul li:hover a span, 
.tg-widget ul li:hover a em, .tg-paymenttype a:hover, .tg-bookprice ins {
    color: #616B2E !important;
}

.rating-input, .rating-clear {
    color: #F39C12 !important;
    font-size: 17px;
}

.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #616B2E;
    border-color: #616B2E;
}

.tg-btnaddtowishlist{
    background: #B38B67 !important;
}

.tg-btnaddtowishlist:hover{
    background: #616B2E !important;
}

.tg-bglight a, .tg-bglight .tg-bookwriter, .tg-bglight .tg-bookprice ins,
.tg-testimonialauthor span, .tg-testimonialauthor h3 {
    color: #FFF !important;
}

#homeTestimonal div.overlay{
    min-height: 518px;
}

#homeTestimonal .owl-nav .tg-btnround i {
    color: #FFF !important;
}

.tg-headervtwo .tg-searchbox span, #searchPopForm {
    display: none !important;
}

.collapse.in {
    width: 100vw;
    left: -80vw;
    margin-top: 6px;
}

.tg-addnav {
    display: block !important;
}

#tg-userlogin {
    display: none;
    float: right !important;
}

#tg-userlogin a span, #tg-userlogin a span i {
    color: #616B2E !important;
}

.tg-addnav li {
    display: none;
}

.tg-addnav li#authorLogin {
    display: block;
}

.tg-homeslider .item {
    max-height: 450px !important;
}

@media only screen and (max-width: 951px) {
    .tg-navigation > ul > li > a {
        color: #000 !important;
    }
    .tg-homeslider .item {
        height: 200px;
    }
    #homeTestimonal div.overlay{
        min-height: 495px;
    }
    .tg-headervtwo .tg-logo {
        width: auto !important;
        float: left !important;
        padding: 0 !important;
    }
    .tg-headervtwo .tg-searchbox {
        float: right !important;
        width: auto;
        padding-top: 0px;
    }
    .tg-headervtwo .tg-searchbox form {
        display: none !important;
    }
    .tg-headervtwo .tg-searchbox span {
        display: block !important;
        font-size: 18px;
        /*padding: 7px 10px;*/
    }
    .tg-headervtwo .tg-searchbox span a {
        color: #FFF !important;
    }
    .tg-sectionspace {
        padding: 50px 0;
    }
    .text-sm-center {
        text-align: center;
    }
    .tg-navigationholder .tg-wishlistandcart, .tg-userlogin, .tg-addnav li#authorLogin {
        display: none;
    }
    #tg-userlogin, .tg-addnav li {
        display: block;
    }
}

.tg-homeslider .item div {
    background-size: cover !important;
}

.text-white {
    color: #FFFFFF !important;
}

a.panel-link.text-white:hover {
    color: #dff0d8 !important;
}

.tg-productgrid .tg-postbook {
    min-height: 450px !important;
}

.pdf {
    width: 100%;
    min-height: 800px;
    aspect-ratio: 4 / 3;
}

#accordion > .panel > div > h4 > a, #accordion2 > .panel > div > h4 > a {
    color: #FFF !important;
    display: inline-block;
    width: 100%;
}

#accordion > .panel > div > h4 > a:hover, #accordion2 > .panel > div > h4 > a:hover {
    color: #CCC !important;
}

.tg-userlogin span::before {
    content: '' !important;
}